
<div>

	<div class="form-row border rounded p-3 " ng-repeat="tarea in tareas">
		<div class="col">
			<label><b>Nombres</b></label><input type="text" class="form-control" placeholder="" ng-model="tarea.nombre_persona">
		</div>
		<div class="col-2">
			<label><b>Tarea</b></label><input type="text" class="form-control" placeholder="" ng-model="tarea.nombre_tarea">
		</div>
		<div class="col">
			<label><b>%Perf.</b></label><input type="text" class="form-control" placeholder="" ng-model="tarea.performance">
		</div>
		<div class="col">
			<label><b>Horas</b></label><input type="text" class="form-control" placeholder="" ng-model="tarea.horas_tarea">
		</div>
		<div class="col">
			<label><b>F. Inicio</b></label><input type=date class="form-control" ng-model="tarea.fec_inicio" />
		</div>
		<div class="col">
			<label><b>PV</b></label><input type="text" class="form-control" placeholder="" ng-model="tarea.pendiente_planificado" readonly>
		</div>
		<div class="col">
			<label><b>EV</b></label><input type="text" class="form-control" placeholder="" ng-model="tarea.pendiente_actual">
		</div>
		<div class="col">
			<label><b>SV</b></label><input type="text" class="form-control" placeholder="" ng-model="tarea.desviacion" readonly>
		</div>
		<div class="col">
			<label><b>F. Fin PV</b></label><input type="date" class="form-control" ng-model="tarea.fec_fin_planificada" readonly>
		</div>
		<div class="col">
			<label><b>F. Fin EV</b></label><input type="date" class="form-control" ng-model="tarea.fec_fin_actual" readonly>
		</div>

	</div>

	<button type="button" class="btn btn-primary" ng-click="insertarTarea()">A&ntilde;adir Tarea</button>
	<button type="button" class="btn btn-primary" ng-click="modificarTareas()">Modificar Tareas</button>
</div>